body {
	background-color: white;
	font-family:arial;
	font-size:11px;
}	
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	padding: 10px;
	width: 100px;

  }
	#nav {
		margin:0 525px; 
	 
		
	}	
	
		
		#nav li {
			float: left; 
			display:block; 
			width: 150px; 
			background:#ccc; 
			position: relative;
			
			margin:0 1px;
		}
		
		/*het hoofdmenu*/
		#nav li a {
			display: block; 
			padding: 8px 5px 0 5px; 
			font-weight:700;  
			height: 23px; 
			text-decoration: none; 
			text-align:center; 
			color:#333;
		}

		#nav li a:hover {
			color:#fff;
		}
	
		/*het submenu*/
		#nav ul {
			position: absolute; 
			left: 0; 
			display:none; 
			margin: 0 0 0 -1px; 
			padding:0; 
			list-style: none;
		}
		
		#nav ul li {
			width:150px; 
			float:left; 
			border-top:1px solid #fff;
		}
		
		#nav ul a {
			display: block;  
			height: 15px;
			padding: 13px 5px; 
			color: #666;
		}
		
		#nav ul a:hover {
			text-decoration:underline;	
		}

		


